<% if @post.errors.any? %>
  <div class="alert danger">
    The form contains <%= pluralize(@post.errors.count, "error") %>.
  </div>

  <ul>
    <%= @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
